<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-0c-3s-docs.googleusercontent.com/docs/securesc/la3ai57cr6skfd51fks2heobbumn5kkq/3v1ismelfrgn1ljrdrke8millu1fpnq9/1604200800000/00070057920742998480/00070057920742998480/1iY-wCse2duhhcXklSrvpIqWcL2ZDIChi?e=download&authuser=0&nonce=466ro43uv4616&user=00070057920742998480&hash=jj8n07i36pm0t6kgtlp1f46401dbfhml</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://www.520dn.org/app_icon57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://www.520dn.org/app_icon512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.realonline.flygosea</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>dhqp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
