<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://p-def8.pcloud.com/cBZ7MLU92Z9HSfe1ZZZYdEN37Z2ZZLf8ZkZoEdusVZDFZwFZO0Z1kZY5ZgXZO7ZPVZ4FZmXZjFZfJZiXZT5ZPBeHXZuoXOtFMH9DhMqSJY6L94CRp5TFQy/fixch2.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://www.520dn.org/app_icon57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://www.520dn.org/app_icon512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.realonline.flygosea</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>dhqp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
